.show {
    position: absolute;
    left: -60%;
    width: 180%;
    text-align: center;
    height: 100%;
    z-index: 5;
    list-style: none;
}

.hide{
  display: none;
}

.item {
  margin: 3%;
  opacity: 0.8;
  background-color: black;
  
}