.header {
    display: flex;
    width: auto;
    height: 100%;
    background-color: darkslategray;
    text-align: center;

}


.title {
    font-size: 200%;
    margin-right: -5%;
    margin-bottom: 1%;
    position: relative;
    right: -45%;
    color: white;

}
