.header {
    display: flex;
    width: auto;
    height: 100%;
    background-color: var(--dark-blue);
    text-align: center;
    z-index: 5;
}


.title {
    font-size: 200%;
    margin-right: -5%;
    margin-bottom: 1%;
    position: relative;
    right: -45%;
    color: var(--main-white);

}
