:root {
  --background-dark: #13141c;
  --highlight-orange: #fca311;
  --dark-blue: #35384b;
  --main-white: #ffffff;

  --light-black: #000000;
  --light--background: #FBFBFB
  --light-red: #D62828;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
